.title{
    font-size: 25px;
    color:#fff;
    position:absolute ;
    top: 50%;
    left:20px;
    transform: translateY(-50%);
}

.left{
    position: fixed;
    top:70px;
    left:0;
    bottom:0;
    background: #404040;
}
.right{
    position:absolute;
    top:70px;
    right:0;
    bottom:0;
    left:200px;
    transition: all .2s ;
    background-color: #fff
}
.top{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;  
    background: #404040;
    height: 70px;
}

.avatar{
    height: 35px;
    width: 35px;
    position: absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
}



